* {
  background-color: antiquewhite;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cookieBtn {
  display: flex;
  font-size: 30vh;
  border-style: none;
}

#cookieBtn:active {
  display: flex;
  opacity: 50%;
  border-style: none;
}

.shopItemContainer {
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
}

.ShopItemBox {
  display: flex;
}

footer {
  position: absolute;
  bottom: 0;
}

.mainContainer {
  display: flex;
}

#storeWindow {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  right: 0;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
